[submodule "shared"]
	path = shared
	url = https://github.com/cloudfoundry/shared-release-packages.git
[submodule "src/swift_service"]
	path = src/swift_service
	url = https://github.com/anynines/cf_swift_service.git
